<div class="container">
    <h3><a href="/empleados">Lista de empleados</a></h3>
    <h1>Crear Empleado Nuevo</h1>
    <form action="/empleados/save" method="post">

        <div class="form-group">
            <label for="nombreInput">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese Nombre">
        </div>
        <div class="form-group">
            <label for="emailInput">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese email">
        </div>
        <div class="form-group">
            <label for="dniInput">DNI</label>
            <input type="text" class="form-control" id="dni" name="dni" placeholder="Ingrese dni">
        </div>
        <div class="form-group">
            <label for="sexoInput">Sexo</label>
            <input type="text" class="form-control" id="sexo" name="sexo" placeholder="Ingrese sexo">
        </div>
        <div class="form-group">
            <label for="telefonoInput">Telefono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ingrese telefono">
        </div>

        <button class="btn btn-primary" type="submit">Grabar</button>
        
    </form>
</div>