<div class="container">
    <h3><a href="/productos">Lista de Productos</a></h3>
    <h1>Editar Producto</h1>
    <form action="/productos/update/{{ producto._id }}" method="post">
        <table>
            <tbody>
                <tr>
                    <td>Nombre</td>
                    
                    <td><input type="text" name="nombre" value="{{ producto.nombre }}"/></td>
                </tr>
                <tr>
                    <td>Precio</td>
                    <td><input type="text" name="precio" value="{{ producto.precio }}"/></td>
                    
                </tr>
                <tr>
                    <td>Stock</td>
                    <td><input type="text" name="stock" value="{{ producto.stock }}"/></td>
                </tr>
                
                <tr>
                    <td colspan="2"> <button type="submit">Update</button> </td>
                    
                </tr>
            </tbody>
        </table>
    </form>
</div>
